@model TetaCritic.Models.Kategori

@{
    ViewData["Title"] = "Admin Paneli";
}

<h4 class="mt-5">Detaylar</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmListesi)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.FilmListesi)
            {
                @item.FilmAdi
                <br />
            }
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KategoriId">Düzenle</a> |
    <a asp-action="Index">Kategorileri Listele</a>
</div>
