@model TetaCritic.Models.Kategori
@{
    IEnumerable<TetaCritic.Models.Kategori> kategoriler = ViewData["Kategoriler"] as IEnumerable<TetaCritic.Models.Kategori>;
    IEnumerable<TetaCritic.Models.Film> filmler = ViewData["Filmler"] as IEnumerable<TetaCritic.Models.Film>;
}

<div class="row mt-5">
    <div class="list-group col-md-2">
        @foreach (var ktg in kategoriler)
        {
            <a class="list-group-item list-group-item-action list-group-item-success" asp-controller="Home" asp-action="KategoriMenusu" asp-route-id="@ktg.KategoriId"> @ktg.KategoriAdi</a>
        }
    </div>

    <div class="list-group col-md-10">
        @if (Model is null)
        {
            @foreach (var film in filmler)
            {
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2 mt-3 ml-2">
                            <img src="@Url.Content(film.Afis)" />
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h3 class="card-title">@film.FilmAdi</h3>
                                <p class="card-text"><b>Yönetmen:</b> @film.Yonetmen</p>
                                <p class="card-text"><b>Çıkış Yılı:</b> @film.VizyonTarihi</p>
                                <p class="card-text"><b>Özet:</b> @film.Ozet</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model is not null)
        {
            @foreach (var film in Model.FilmListesi)
            {
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2 mt-3 ml-2">
                            <img src="@Url.Content(film.Afis)" />
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h3 class="card-title">@film.FilmAdi</h3>
                                <p class="card-text"><b>Yönetmen:</b> @film.Yonetmen</p>
                                <p class="card-text"><b>Çıkış Yılı:</b> @film.VizyonTarihi</p>
                                <p class="card-text"><b>Özet:</b> @film.Ozet</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>