@model TetaCritic.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetmen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ozet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ozet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VizyonTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VizyonTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ktg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ktg.KategoriId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
