@model TetaCritic.Models.Film

@{
    ViewData["Title"] = "Admin Paneli";
}

<h4 class="mt-5">Detaylar</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yonetmen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ozet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ozet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VizyonTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VizyonTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ktg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ktg.KategoriAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afis)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(@Model.Afis)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmId">Düzenle</a> |
    <a asp-action="Index">Filmleri Listele</a>
</div>
