@model IEnumerable<TetaCritic.Models.Film>

@{
    ViewData["Title"] = "Admin Paneli";
}

<p class="mt-5">
    <a class="btn btn-danger " asp-action="Create">Yeni Film Ekle</a>
    <a class="btn btn-danger ml-2" asp-controller="Kategori" asp-action="Create">Yeni Kategori Ekle</a>
</p>

<h4>Film Listesi</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yonetmen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ozet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VizyonTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ktg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yonetmen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ozet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VizyonTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ktg.KategoriAdi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FilmId">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.FilmId">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.FilmId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="mt-5">
    <a class="btn btn-danger" asp-controller="Kategori" asp-action="Index">Kategorileri Listele</a>
</p>